@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf) format('truetype'),
        url(../fonts/Raleway/Raleway-ExtraBold.woff) format('woff');
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype'),
        url(../fonts/Lato/Lato-Regular.woff) format('woff');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LatoBold";
    src: url(../fonts/Lato/Lato-Bold.ttf) format('truetype'),
        url(../fonts/Lato/Lato-Bold.ttf) format('woff');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LatoBlack";
    src: url(../fonts/Lato/Lato-Black.ttf) format('truetype'),
        url(../fonts/Lato/Lato-Black.woff) format('woff');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}