.hero {
    padding: 202px 0;
    background-image: url("/resources/images/hero_bg.jpg");
    background-size: cover;
    color: var(--color-black);

    &__title {
        margin-bottom: 80px;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;

        span {
            color: var(--color-accent);
        }

        @media screen and (max-width: 640px) {
            font-size: 30px;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    &__subtitle {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;

        @media screen and (max-width: 640px) {
            font-size: 18px;
            text-align: center;
        }
    }

    &__list {
        @media screen and (max-width: 640px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__list-item {
        font-size: 20px;

        @media screen and (max-width: 640px) {
            text-align: center;
            font-size: 16px;
        }
    }

    &__inner {
        margin-top: 80px;
        display: flex;
        align-items: center;
        column-gap: 30px;

        @media screen and (max-width: 640px) {
            margin-top: 40px;
            justify-content: center;
            column-gap: 20px;
        }
    }

    &__btn-accent {
        width: 183px;
        background-color: var(--color-accent);
        border: 1px solid var(--color-white);
        color: var(--color-white);

        &:hover {
            background-color: var(--color-white);
            color: var(--color-accent);
        }
    }

    &__btn-regular {
        width: 183px;
        background-color: var(--color-white);
        border: 1px solid #6F6D7B;
        color: #2A2B30;

        &:hover {
            background-color: var(--color-accent);
            color: var(--color-white);
        }
    }
}